streamlit
langchain
langchain-google-genai
google-generativeai
langchain-community
faiss-cpu
python-dotenv
requests
kagglehub                                                         
pandas                                                      
numpy
scikit-learn 
xgboost
